{% extends 'base.html.twig' %}

{% block body %}

    <h2>Bienvenue !</h2>

    <p><strong>Retrainrd est une application permettant de marquer les retards et différents problèmes rencontrés lors de vos voyages SNCF.</strong></p>

    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Inscription</strong></div>

            <div class="panel-body">
                <p>Vous pouvez vous inscrire en suivant <a href="{{ path('app_simple_registration') }}" title="Inscription">ce lien.</a></p>
                <p>Quelques informations vous seront demandées.</p>
                <p>Ensuite vous pourrez profiter pleinement de toutes les fonctionnalités.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Connexion</strong></div>

            <div class="panel-body">
                <p>Vous avez déjà un compte ? Alors cliquez <a href="{{ path('app_connection') }}" title="Connexion">ici</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Mot de passe perdu</strong></div>

            <div class="panel-body">
                <p>Si vous avez perdu votre mot de passe, pas de panique !</p>
                <p>Suivez <a href="{{ path('app_account_password_lost') }}" title="Mot de passe perdu">ce lien</a>, remplissez le formulaire et un nouveau mot de passe sera créé.</p>
            </div>
        </div>

    </div>

{% endblock %}
