<header class="header">
    <div class="header-container">
        <a href="{{ path('app_user_home') }}" class="header-container-link">
            {% spaceless %}
                <span class="glyphicon glyphicon-globe header-container-link-app" aria-hidden="true"></span>
                <h1>Retrainrd</h1>
            {% endspaceless %}
        </a>
    </div>
</header>
