{% extends 'mailing/base.html.twig' %}

{% block body %}
    <h2>Désactivation de compte</h2>

    Attention ! Votre compte a été désactivé. Vous pouvez contacter nos équipes pour avoir plus d'informations.
{% endblock %}
