{% extends 'mailing/base.html.twig' %}

{% block body %}
    <h2>Activation de compte</h2>

    Votre compte a été activé. Vous pouvez contacter nos équipes pour avoir plus d'informations si vous le souhaitez.
{% endblock %}
