{% extends 'mailing/base.html.twig' %}

{% block body %}
    <h2>Mot de passe perdu</h2>

    Vous avez fait la demande de réinitialisation de mot de passe

    <br>

    Pour créer un nouveau mot de passe, merci de cliquer sur ce lien :
    <a href="{{ url('app_simple_registration_active', {'registrationCode': user.registrationCode}) }}">ici</a>
{% endblock %}
