{% extends 'mailing/base.html.twig' %}

{% block body %}
    <h2>Inscription</h2>

    Nous avons le plaisir de vous confirmer la création de votre compte.

    <br>

    Pour activer votre compte, merci de cliquer sur ce lien :
    <a href="{{ url('app_simple_registration_active', {'registrationCode': user.registrationCode}) }}">ici</a>
{% endblock %}
